{{!-- header元素引入 --}}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>排号系统:{{block "title"}}</title>
<link rel="stylesheet" href="/stylesheets/style.default.css" type="text/css" /><head>
<script type="text/javascript" src="/javascripts/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/javascripts/custom/general.js"></script>
<!--[if IE 9]>
<link rel="stylesheet" media="screen" href="/stylesheets/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" media="screen" href="/stylesheets/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
<script src="/javascripts/plugins/css3-mediaqueries.js"></script>
<![endif]-->