{{!-- 左侧导航栏 --}}
<div class="vernav2 iconmenu">
    <ul>
        <li class="current"><a href="#formsub" class="elements">系统管理</a>
            <span class="arrow"></span>
            <ul id="formsub">
                <li><a href="/users">用户管理</a></li>
                <li><a href="/merchants">商户管理</a></li>
            </ul>
        </li>
        <li><a href="/misc" class="tables">其他</a></li>
    </ul>
    <a class="togglemenu"></a>
    <br/><br/>
</div>