{{!-- 一级导航栏 --}}
<div class="header">
    <ul class="headermenu">
        <li class="current"><a href="/"><span class="icon icon-flatscreen"></span>首页</a></li>
        <li><a href="/messages"><span class="icon icon-message"></span>消息</a></li>
        <li><a href="/reports"><span class="icon icon-chart"></span>报表</a></li>
    </ul>
</div>