{{!-- 左侧导航栏 --}}
<div class="vernav2 iconmenu">
    <ul>
        <li class="current"><a href="manageblog.html" class="inbox">收件箱</a></li>
        <li><a href="newpost.html" class="drafts">草稿</a></li>
        <li><a href="" class="sent">发件箱</a></li>
        <li><a href="" class="trash">回收站</a></li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div>