{{!-- 后台最顶部的层 --}}
<div class="topheader">
    <div class="left">
        <h1 class="logo">Ama.<span>Admin</span></h1>
        <span class="slogan">后台管理系统</span>
        <br clear="all"/>
    </div>

    <div class="right">
        <div class="notification">
            <a class="count" href="/notifications"><span>9</span></a>
        </div>
        <div class="userinfo">
            <img src="/images/thumbs/avatar.png" alt=""/>
            <span>管理员</span>
        </div>
        <div class="userinfodrop">
            <div class="avatar">
                <a href="/profile"><img src="/images/thumbs/avatarbig.png" alt=""/></a>
            </div>
            <!--avatar-->
            <div class="userdata">
                <h4>Juan</h4>
                <span class="email">youremail@yourdomain.com</span>
                <ul>
                    <li><a href="/profile">编辑资料</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>