{{#define "title"}}控制台{{/define}}
<div id="contentwrapper" class="contentwrapper">
    <div id="updates" class="subcontent">
        <div class="notibar announcement">
            <a class="close"></a>

            <h3>最新公告</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore consequat.</p>
        </div>
    </div>
</div>