
<ul class="notitab">
    <li class="current"><a href="#messages">所有消息(3)</a></li>
</ul>
<div id="messages">
    <ul class="msglist">
        <li>
            <a href="messages.html">
                <span class="thumb"><img src="/images/thumbs/avatar1.png" alt="" /></span>
                <span class="msgdetails">
                    <span class="name">John Doe</span>
                    <span class="msg">Lorem ipsum dolor sit amet, consectetur...</span>
                    <span class="time">About an hour ago</span>
                </span><!--msgdetails-->
            </a>
        </li>
        <li>
            <a href="messages.html">
                <span class="thumb"><img src="/images/thumbs/avatar2.png" alt="" /></span>
                <span class="msgdetails">
                    <span class="name">Disidido Mohabal</span>
                    <span class="msg">adipisicing elit, sed do eiusmod tempor...</span>
                    <span class="time">Yesterday</span>
                </span><!--msgdetails-->
            </a>
        </li>
        <li>
            <a href="messages.html">
                <span class="thumb"><img src="/images/thumbs/avatar3.png" alt="" /></span>
                <span class="msgdetails">
                    <span class="name">John Doe</span>
                    <span class="msg">Lorem ipsum dolor sit amet, consectetur...</span>
                    <span class="time">May 20</span>
                </span><!--msgdetails-->
            </a>
        </li>
        <li>
            <a href="messages.html">
                <span class="thumb"><img src="/images/thumbs/avatar4.png" alt="" /></span>
                <span class="msgdetails">
                    <span class="name">Jane Phoebe</span>
                    <span class="msg">adipisicing elit, sed do eiusmod tempor...</span>
                    <span class="time">May 19</span>
                </span><!--msgdetails-->
            </a>
        </li>
    </ul>
    <div class="msgbutton">
        <a href="/messages">查看所有消息</a>
    </div><!--msgbutton-->
</div>